* {
  box-sizing: border-box;
}

body {
  /* background-color: gray; */

}

ul {
  list-style-type: none;
  margin-left: -40px;

}

ul li, p{
  color: gray;
  font-family: 'neue-haas-grotesk-text';
  margin-bottom: 10px;
  cursor: pointer;
}

h1 {
  /* font-size: 400% */
}

h1, h2, h3 {
  font-family: "ivypresto-headline";

}

.main {
  margin-left: 70px;
  margin-top: 40px;
}
/* .header {
  height: 150px;
} */

hr {
  border: none;
  border-top: 0.5px solid black;

  
}

.spacer {
  width: 100px;
}

.wrapper {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* border: 1px solid black; */
  width: 90%;
  height: 90%
}

.sidebar {
  grid-column: 1;
  border-right: 1px solid black;
  min-width: 150px;
  padding-right: 40px;
  /* padding-top: 10px; */
}

.content {
  grid-column: 2;
  /* background-color: white; */
  padding-left: 40px;
}

img {
  width: 50%
}

a.nodeco {
  color: black;
  text-decoration: none;
}